GOOGLE_API_KEY=FQy4HArVdBbZ87AHrbfdhSXRgyE5NUbrh6GaL8enMUeh
GOOGLE_CLOUD_PROJECT=storyforge-490116
GOOGLE_APPLICATION_CREDENTIALS=./service-account.json
GCS_BUCKET=storyforge-artifacts
FIRESTORE_COLLECTION=stories
